@using AnanasMVCWebApp.Models.ViewModels
@model CartViewModel

@if (Model.CartItems.Count == 0) {
    <div class="empty-wrapper">
        Không có sản phẩm nào trong giỏ hàng!
    </div>
} else {
    <div class="wrapper">
        @foreach (var item in Model.CartItems) {
            <div class="product-row--ver2">
                <img src="~/uploads/@item.ImageName" alt="">
                <div>
                    <div>
                        <p>@item.ProductName</p>
                        <p>Size: @item.Size | Số lượng: @item.Quantity</p>
                        <p>@Html.FormatValue(@item.Price, "{0:0,0}") VND</p>
                    </div>
                    <div>@Html.FormatValue(@item.SubTotal, "{0:0,0}") VND</div>
                </div>
            </div>
        }
    </div>
    <div>
        <span>@Model.CartItems.Count sản phẩm</span>
        @Html.ActionLink("Xem giỏ hàng", "Index", "Cart")
    </div>
}



