@using AnanasMVCWebApp.Models.ViewModels
@model CartViewModel
@{
    ViewData["Title"] = "Cart";
}

@section Scripts {
    <script type="text/javascript">
        $("select[name='quantity']").change(function () {
            var skuId = $(this).closest(".cart-list__item").attr("id");
            $.ajax({
                type: "GET",
                url: '@Url.Action("ModifyQuantity", "Cart")',
                dataType: "json",
                data: { id: skuId, quantity: parseInt($(this).val()) },
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    window.location.href = result.redirectToUrl;
                },
                error: function () {
                    alert("Some errors occured!");
                }
            });
        })
        $("select[name='size']").change(function () {
            var skuId = $(this).closest(".cart-list__item").attr("id");
            $.ajax({
                type: "GET",
                url: '@Url.Action("ModifySize", "Cart")',
                dataType: "json",
                data: { id: skuId, sizeCode: $(this).val() },
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    window.location.href = result.redirectToUrl;
                },
                error: function () {
                    alert("Some errors occured!");
                }
            });
        })
        $("button.remove-btn").click(function () {
            var skuId = $(this).closest(".cart-list__item").attr("id");
            if(confirm("Bạn có chắc chắn muốn xoá sản phẩm này khỏi giỏ hàng?")){
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("Remove", "Cart")',
                    dataType: "json",
                    data: { id: skuId },
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        window.location.href = result.redirectToUrl;
                    },
                    error: function () {
                        alert("Some errors occured!");
                    }
                });
            }
        });
    </script>
}

@if(Model.CartItems.Count == 0){
    <div class="empty-cart-wrapper wide">
        <div>
            <h4>Giỏ hàng của bạn</h4>
            <p>Bạn đang không có sản phẩm nào trong giỏ hàng!</p>
            @Html.ActionLink("Quay lại mua hàng", "Index", "Product")
        </div>
    </div>
} else {
    <div class="cart-wrapper wide">
        <div class="cart-list-wrapper">
            <div class="cart-header">
                <h4>Giỏ hàng</h4>
                <p>Bạn đang có <span class="decor">@Model.CartItems.Count sản phẩm</span> trong giỏ hàng</p>
            </div>
            <div class="cart-list__item-container">
                @foreach (var item in Model.CartItems) {
                    <div id="@item.ProductId" class="cart-list__item">
                        <div class="cart-item__image">
                            <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.ProductId.Substring(0,6)"><img src="~/uploads/@item.ImageName" alt=""></a>
                        </div>
                        <div class="cart-item__info">
                            <div class="item-infos">
                                <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.ProductId.Substring(0,6)"><div class="item-name">@item.ProductName</div></a>
                                <div class="item-unit-price">@Html.FormatValue(@item.Price, "{0:0,0}") VND</div>
                            </div>
                            <div class="item-options">
                                <div class="item-option__size">
                                    <div class="option-label">Size</div>
                                    <div class="select-wrapper">
                                        <i class="fa-solid fa-angle-down"></i>
                                        <select name="size">
                                            @foreach (var size in item.SizeList) {
                                                @if (size.Name == item.Size) {
                                                    <option value="@size.Code" selected>@size.Name</option>
                                                } else {
                                                    <option value="@size.Code">@size.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="item-option__quantity">
                                    <div class="option-label">Quantity</div>
                                    <div class="select-wrapper">
                                        <i class="fa-solid fa-angle-down"></i>
                                        <select name="quantity">
                                            @{
                                                int count = (item.Stock > 12) ? 12 : item.Stock;
                                                @for (int index = 1; index <= count; index++) {
                                                    @if (index == item.Quantity) {
                                                        <option value="@index" selected>@index</option>
                                                    } else {
                                                        <option value="@index">@index</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cart-item__actions">
                            <div class="actions-wrapper">
                                <button class="remove-btn"><i class="fa-solid fa-xmark"></i></button>
                                <button class="favorite-btn"><i class="fa-regular fa-heart"></i></button>
                            </div>
                            <div class="item-subtotal">@Html.FormatValue(@item.SubTotal, "{0:0,0}") VND</div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="cart-summary-wrapper">
            <div class="summary-panel">
                <h5>Order Summary</h5>
                <hr class="divider top">
                <ul>
                    <li>
                        <span>Đơn hàng</span>
                        <span>@Html.FormatValue(Model.GrandTotal, "{0:0,0}") VND</span>
                    </li>
                    <li>
                        <span>Giảm</span>
                        <span>0 VND</span>
                    </li>
                </ul>
                <hr class="divider grey">
                <ul class="total">
                    <li>
                        <span>Tạm tính</span>
                        <span>@Html.FormatValue(Model.GrandTotal, "{0:0,0}") VND</span>
                    </li>
                </ul>
                <a asp-action="Index" asp-controller="Checkout"><button>Thanh toán</button></a>
            </div>
        </div>
    </div>
}

