@using AnanasMVCWebApp.Models
@model Coupon
@{
    int index = @ViewBag.Index;
}

<div class="coupon-item">
    <div>
        <span>@(Model.Percentage)%</span>
        <span>Off</span>
    </div>
    <div>
        <span>@Model.Code</span>
        <span>@Model.Description</span>
    </div>
    <input type="checkbox" name="Coupons[@(index)]" value="@Model.Code" data-percentage="@Model.Percentage" checked hidden>
    <div><button type="button">Remove</button></div>
</div>