<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AnanasMVCWebApp</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/material.css" asp-append-version="true" />
</head>
<body>
    @await Html.PartialAsync("_NotificationPartial")
    <div class="header-wrapper">
        <div class="navbar wide">
            <div class="navbar__logo-wrapper">
                <a asp-controller="Home" asp-action="Index"><img class="navbar__logo" src="~/public/graphic/Logo_Ananas.svg" alt=""></a>
            </div>
            <div class="navbar__category">
                <ul>
                    <li>@Html.ActionLink("Shoes", "Index", "Product", new { category = "shoes" })</li>
                    <li>@Html.ActionLink("Clothing", "Index", "Product", new { category = "clothing" })</li>
                    <li>@Html.ActionLink("Accessories", "Index", "Product", new { category = "accessories" })</li>
                    <li>Sale Off</li>
                </ul>
            </div>
            <div class="navbar__action">
                <ul>
                    <!-- <li class="navbar__action__item user">
                        <a id="signin" href="">Sign In <i class="fa-solid fa-user"></i></a>
                    </li> -->
                    <li id="user-nav" class="navbar__action__item user">
                        <a href="">Hi, Thịnh Nguyễn <i class="fa-solid fa-user"></i></a>
                        <div id="user-dropdown">
                            <div>
                                <p>Thinh Nguyen</p>
                                <p>thinhnguyen2572@gmail.com</p>
                            </div>
                            <hr>
                            <div class="actions">
                                <a href=""><i class="fa-solid fa-address-card"></i> My Account</a>
                                <a href=""><i class="fa-solid fa-box-open"></i> My Orders</a>
                                <a href=""><i class="fa-solid fa-heart"></i> My Wish list</a>
                            </div>
                            <hr>
                            <div class="actions">
                                <a href=""><i class="fa-solid fa-arrow-right-from-bracket"></i> Log out</a>
                            </div>
                        </div>
                    </li>
                    <li id="cart-nav" class="navbar__action__item cart">
                        <a asp-action="Index" asp-controller="Cart"><i class="fa-solid fa-cart-shopping"></i></a>
                        <div id="cart-dropdown">
                            <h6>Giỏ hàng</h6>
                            @await Component.InvokeAsync("Cart")
                        </div>
                    </li>
                    <li class="navbar__action__item"><a href=""><i class="fa-solid fa-heart"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="carousel">
            <p>Free Shipping với hoá đơn từ 900k!</p>
        </div>
    </div>
    <div class="main-wrapper">
        @RenderBody()
    </div>
    <div class="footer-wrapper">
        <div class="footer-content wide">
            <div class="footer__info">
                <div class="footer__column">
                    <h6>Sản phẩm</h6>
                    <ul>
                        <li>Giày</li>
                        <li>Quần áo</li>
                        <li>Phụ kiện</li>
                        <li>Sale off</li>
                    </ul>
                </div>
                <div class="footer__column">
                    <h6>Về công ty</h6>
                    <ul>
                        <li>Dứa tuyển dụng</li>
                        <li>Liên hệ nhượng quyền</li>
                        <li>Về Ananas</li>
                    </ul>
                </div>
                <div class="footer__column">
                    <h6>Hỗ trợ</h6>
                    <ul>
                        <li>FAQs</li>
                        <li>Bảo mật thông tin</li>
                        <li>Chính sách chung</li>
                    </ul>
                </div>
                <div class="footer__column">
                    <h6>Social Media</h6>
                    <ul>
                        <li><i class="fa-brands fa-square-facebook"></i></li>
                        <li><i class="fa-brands fa-square-instagram"></i></li>
                        <li><i class="fa-brands fa-square-youtube"></i></li>
                    </ul>
                </div>
            </div>
            <div class="footer__find-store">
                <img src="~/public/graphic/Store.svg" alt="">
                <a href=""><p>Tìm cửa hàng</p><i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
        <p>Copyright © 2022 Ananas. All rights reserved.</p>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/a142c3e58b.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>

    </script>
</body>
</html>
