@using AnanasMVCWebApp.Models.ViewModels
@model ProductViewModel
@{
    ViewData["Title"] = "Product Detail";
}

@section Scripts {
    <script type="text/javascript">
        var selectQuantity = $("select[name='quantity']")
        $("input[name='size']").change(function(){
            var skuId = $(this).val();
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetStock", "Product")',
                dataType: "json",
                data: { id: skuId },
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    var stock = result.stock;
                    selectQuantity.empty();
                    if (stock != 0) {
                        selectQuantity.prop("disabled", false);
                        for (let i = 1; i<= stock; i++) {
                            selectQuantity.append(`<option value="${i}">${i}</option>`)
                        }
                    } else {
                        selectQuantity.prop("disabled", true);
                    }
                },
                error: function () {
                    alert("Some errors occured!");
                }
            });
        });
    </script>
}

<div class="product-breadcrumb wide">
    <ul class="breadcrumb">
        <li>@Html.ActionLink(Model.Category.Name, "Index", "Product", new { category = Model.Category.Slug })</li>
        <li>@Html.ActionLink(Model.Collection.Name, "Index", "Product", new { category = Model.Category.Slug, collection = Model.Collection.Slug })</li>
        <li>@(Model.Style != null ? $"{Model.ProductName} - {Model.Style.Name}" : $"{Model.Collection.Name} - {Model.ProductName}")</li>
    </ul>
</div>
<div class="product-detail-wrapper wide">
    <div class="wrapper__column left">
        <div class="product__image-container">
            @if (Model.ImageList.Count > 1) {
                <img id="image-display" src="~/uploads/@Model.ImageList[0]" alt="">
                <div class="image-list-wrapper">
                    <button class="prevBtn"><i class="fa-solid fa-chevron-left"></i></button>
                    <div class="image-list">
                        @foreach (var image in Model.ImageList) {
                            <img class="image-item" src="~/uploads/@image" alt="">
                        }
                    </div>
                    <button class="nextBtn"><i class="fa-solid fa-chevron-right"></i></button>
                </div>
            }
        </div>
    </div>
    <div class="wrapper__column right">
        <div class="product__main-container">
            <div class="product-name-wrapper">
                <p class="product-info-name">@(Model.Style != null ? $"{Model.ProductName} - {Model.Style.Name}" : $"{Model.Collection.Name} - {Model.ProductName}") - @Model.ColorName</p>
                <p class="product-info-sku">Mã sản phẩm: @Model.ProductId</p>
            </div>
            <div class="product-info-price">@Html.FormatValue(Model.Price, "{0:0,0}") VND</div>
            <div class="product-add-form">
                @using (Html.BeginForm("Add", "Cart", FormMethod.Post)) {
                    <div class="product-options-wrapper">
                        <div class="option-attribute color">
                            <div class="option-label">Color</div>
                            <ul id="colors-wrapper">
                                <li><a style="background-color: #@Model.HexCode;" class="selected"></a></li>
                                @if (Model.SiblingProducts != null) {
                                    @foreach (var sibling in Model.SiblingProducts) {
                                        <li><a style="background-color: #@sibling.HexCode" asp-controller="Product" asp-action="Detail" asp-route-id="@sibling.Code"></a></li>
                                    }
                                }
                            </ul>
                        </div>
                        <div class="option-attribute size">
                            <div class="option-label">
                                <span>Size</span>
                                <span id="size-chart-label">Size Chart</span>
                            </div>
                            <div id="size-wrapper">
                                @if (Model.SKUList != null) {
                                    @foreach (var sku in Model.SKUList) {
                                        <label class=@(sku.StockQuantity == 0 ? "disabled" : "" ) for="@sku.Size.Code">
                                            @sku.Size.Name
                                            <input type="radio" name="size" id="@sku.Size.Code" value="@sku.Code" hidden>
                                        </label>
                                    }
                                }
                            </div>
                        </div>
                        <div class="option-attribute quantity">
                            <div class="option-label">Quantity</div>
                            <div id="select-control">
                                <i class="fa-solid fa-angle-down"></i>
                                <select disabled name="quantity"></select>
                            </div>
                        </div>
                    </div>
                    <div class="add-form-button">
                        <button id="add-to-cart-btn" type="submit">Thêm vào giỏ hàng</button>
                        <button id="like-btn" type="button"><i class="fa-regular fa-heart"></i></button>
                    </div>
                }
            </div>
        </div>
        <div class="product__info-container">
            <div class="info-item">
                <div>
                    <h6>Thông tin sản phẩm</h6>
                    <i class="fa-solid fa-chevron-down dropdown-arrow rotate"></i>
                </div>
                <div style="display: block;">
                    @Model.Description
                </div>
            </div>
            <div class="info-item">
                <div>
                    <h6>Quy định đổi sản phẩm</h6>
                    <i class="fa-solid fa-chevron-down dropdown-arrow"></i>
                </div>
                <div>
                    <ul>
                        <li>Chỉ đổi hàng 1 lần duy nhất, mong bạn cân nhắc kĩ trước khi quyết định.</li>
                        <li>Thời hạn đổi sản phẩm khi mua trực tiếp tại cửa hàng là 07 ngày, kể từ ngày mua. Đổi sản phẩm khi mua online là 14 ngày, kể từ ngày nhận hàng.</li>
                        <li>Sản phẩm đổi phải kèm hóa đơn. Bắt buộc phải còn nguyên tem, hộp, nhãn mác.</li>
                        <li>Sản phẩm đổi không có dấu hiệu đã qua sử dụng, không giặt tẩy, bám bẩn, biến dạng.</li>
                        <li>Trong trường hợp sản phẩm - size bạn muốn đổi không còn hàng trong hệ thống. Vui lòng chọn sản phẩm khác.</li>
                    </ul>
                </div>
            </div>
            <div class="info-item">
                <div>
                    <h6>Bảo hành thế nào?</h6>
                    <i class="fa-solid fa-chevron-down dropdown-arrow"></i>
                </div>
                <div>
                    Mỗi đôi giày Ananas trước khi xuất xưởng đều trải qua nhiều khâu kiểm tra. Tuy vậy, trong quá trình sử dụng, nếu nhận thấy các lỗi: gãy đế, hở đế, đứt chỉ may,...trong thời gian 6 tháng từ ngày mua hàng, mong bạn sớm gửi sản phẩm về Ananas nhằm giúp chúng tôi có cơ hội phục vụ bạn tốt hơn. Vui lòng gửi sản phẩm về bất kỳ cửa hàng Ananas nào, hoặc gửi đến trung tâm bảo hành Ananas ngay trong trung tâm TP.HCM trong giờ hành chính:
                    <br>
                    <b>Địa chỉ:</b> 5C Tân Cảng, P.25, Q.Bình Thạnh , TP. Hồ Chí Minh.
                    <b>Hotline:</b> 028 2211 0067
                </div>
            </div>
        </div>
    </div>
</div>
<div class="recomended-wrapper wide">
    <h4>Sản phẩm liên quan</h4>
    <button class="prevBtn"><i class="fa-solid fa-chevron-left"></i></button>
    <button class="nextBtn"><i class="fa-solid fa-chevron-right"></i></button>
    <div class="recomended-product-wrapper">
        <div class="recomended-product-list">
            <div class="product-card recommended">
                <div>
                    <div>
                        <a href="">Mua ngay <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    <div class="product-image">
                        <img class="normal" src="~/public/image/product.jpg" alt="">
                        <img class="hover" src="~/public/image/product-1.jpg" alt="">
                    </div>
                </div>
                <div>
                    <a href="">Vintas Public 2000s - Low Top</a>
                    <p>Caviar Black</p>
                    <p>620.000 VND</p>
                </div>
            </div>
        </div>
    </div>
</div>