@using AnanasMVCWebApp.Areas.Admin.Models
@model ProductVariantEM
@{
    int index = @ViewBag.Index;
}
<div class="variant-item">
    <h5>Index: @index</h5>
    <button class="delete-variant-btn" type="button"><i class="fa-solid fa-xmark"></i></button>
    <div class="form-row">
        <div class="input-group">
            <label>Mã sản phẩm</label>
            <input readonly type="text" id="Variants_@(index)__ProductCode" name="Variants[@(index)].ProductCode" value="@Model.ProductCode">
            <span class="input-error"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="input-group--color">
            <label>Màu sắc</label>
            <div>
                <div class="color-picker-wrapper"><input class="color-picker" id="Variants_@(index)__HexCode" name="Variants[@(index)].HexCode" type="color"></div>
                <input type="text" id="Variants_@(index)__ColorName" name="Variants[@(index)].ColorName" placeholder="Name this color">
            </div>
            <span class="input-error"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="input-group">
            <label>Hình ảnh</label>
            <div class="image-grid">
                @* <div class="image-item">
                    <div class="overlay"><i class="fa-solid fa-trash-can"></i></div>
                    <img src="~/uploads/ABS001_1.jpg" alt="">
                </div> *@
                <div class="upload-image-wrapper">
                    <input asp-for="@Model.FilesUpload" accept="image/*">
                    <label asp-for="@Model.FilesUpload">
                        <i class="fa-regular fa-image"></i>
                        <span>Thêm hình ảnh (tối đa 8 ảnh)</span>
                    </label>
                </div>
            </div>
            <span asp-validation-for="@Model.FilesUpload" class="input-error"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="input-group--stock">
            <label>Kho hàng</label>
            <table class="stock-table">
                <thead>
                    <tr>
                        <th>Kích cỡ</th>
                        <th>Số lượng</th>
                        <th>Mã SKU</th>
                    </tr>
                </thead>
                <tbody>
                    @* @foreach (var sku in Model.SKUs) {
                        <tr>
                            <td>@sku.SizeName</td>
                            <td><input type="text" asp-for="@sku.InStock" placeholder="Số lượng"></td>
                            <td><input type="text" asp-for="@sku.Code" readonly></td>
                        </tr>
                    } *@
                    @for (int j = 0; j < Model.SKUs.Count; j++) {
                        <tr>
                            <td>@Model.SKUs[j].SizeName</td>
                            <td><input type="text" id="Variants_@(index)__SKUs_@(j)__InStock" name="Variants[@(index)].SKUs[@(j)].InStock" value="@Model.SKUs[j].InStock" placeholder="Số lượng"></td>
                            <td><input type="text" id="Variants_@(index)__SKUs_@(j)__Code" name="Variants[@(index)].SKUs[@(j)].Code" value="@Model.SKUs[j].Code" readonly></td>
                        </tr>
                    }
                </tbody>
            </table>
            <span class="input-error"></span>
        </div>
    </div>
</div>