@using AnanasMVCWebApp.Areas.Admin.Models
@model ProductBaseEM
@{
    ViewData["Title"] = "Product Edit";
}
@section Scripts {
    <script>
        $("input[type='color']").change(function () {
            $(this).parent().css("background-color", $(this).val());
        });
        $(".image-item").hover(function () {
            $(this).find(".overlay").fadeIn("fast");
        }, function () {
            $(this).find(".overlay").fadeOut("fast");
        });
        $("input[type='file']").bind({
            change: function () {
                var fileList = $(this)[0].files;
                $(this).closest(".image-grid").find(".image-item").remove();
                for (let index = 0; index < fileList.length; index++) {
                    $(`
                        <div class="image-item">
                            <div class="overlay"><i class="fa-solid fa-trash-can"></i></div>
                            <img data-img-index="${index}" src="${URL.createObjectURL(fileList[index])}" alt="">
                        </div>
                    `).insertBefore($(this).parent());
                }
            }
        })
        
        var variantContainer = $("#variantContainer");
        var currentVariant = variantContainer.children().length;

        var categorySelect = $("#CategoryId");
        var styleSelect = $("#StyleId");
        var collectionSelect = $("#CollectionId");
        var styleFormRow = $("#styleFormRow");

        var addVariantBtn = $("#add-variant-btn");
        var deleteVariantBtn = $(".variant-item.old .delete-variant-btn");

        addVariantBtn.click(function(){
            if (categorySelect.val() == null || collectionSelect.val() == null) {
                alert("Vui lòng chọn danh mục và dòng sản phẩm!");
            } else {
                //console.log(categorySelect.val(), collectionSelect.val(), variantContainer.children().length)
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetVariantTemplate", "Product", new { Area = "Admin" })',
                    data: {
                        categoryId: categorySelect.val(),
                        collectionId: collectionSelect.val(),
                        count: variantContainer.children().length
                    },
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        variantContainer.append(result);
                        $(".variant-item.new .delete-variant-btn").bind({
                            click: function() {
                                if (confirm("Bạn có chắc chắn muốn xoá phân loại sản phẩm này?")) {
                                    $(this).parent().remove();
                                }
                            }
                        });
                        $("input[type='color']").bind({
                            change: function () {
                                $(this).parent().css("background-color", $(this).val());
                            }
                        });
                        $("input[type='file']").bind({
                            change: function () {
                                console.log("Hello");
                                var fileList = $(this)[0].files;
                                $(this).closest(".image-grid").find(".image-item").remove();
                                for (let index = 0; index < fileList.length; index++) {
                                    $(`
                                        <div class="image-item">
                                            <div class="overlay"><i class="fa-solid fa-trash-can"></i></div>
                                            <img data-img-index="${index}" src="${URL.createObjectURL(fileList[index])}" alt="">
                                        </div>
                                    `).insertBefore($(this).parent());
                                }
                            }
                        })
                    },
                    error: function (req, err) {
                        console.log(err);
                        alert("Falied to create product variant template!");
                    }
                });
            }
        });

        deleteVariantBtn.click(function () {
            console.log("Old")
        });
    </script>
    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace('Description')
    </script>
}

<div class="row-wrapper">
    <h4>Chi tiết sản phẩm</h4>
</div>
<div class="row-wrapper">
    <form asp-controller="Product" asp-action="Edit" asp-area="Admin" method="POST" enctype="multipart/form-data" style="width: 100%;">
        <div class="form-wrapper">
            <div class="form-column">
                <div>
                    <h5>Thông tin cơ bản</h5>
                    <hr class="divider top">
                    @Html.HiddenFor(i => i.ProductId)
                    <div class="form-row">
                        <div class="input-group">
                            @Html.LabelFor(i => i.Name)
                            @Html.TextBoxFor(i => i.Name, new { placeholder = "Tên sản phẩm" })
                            @Html.ValidationMessageFor(i => i.Name, "", new { @class = "input-error" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-group">
                            @Html.LabelFor(i => i.CategoryId)
                            <select asp-for="CategoryId">
                                <option value="" selected disabled>Danh mục</option>
                                @foreach (var item in Model.Categories) {
                                    <option value=@item.Id>@item.Name</option>
                                }
                            </select>
                            @Html.ValidationMessageFor(i => i.CategoryId, "", new { @class = "input-error" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-group">
                            @if (Model.StyleId != -1) {
                                @Html.LabelFor(i => i.StyleId)
                                <select asp-for="StyleId">
                                    <option value="" selected disabled>Kiểu dáng</option>
                                    @foreach (var item in Model.Styles) {
                                        <option value=@item.Id>@item.Name</option>
                                    }
                                </select>
                                @Html.ValidationMessageFor(i => i.StyleId, "", new { @class = "input-error" })
                            }
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-group">
                            @Html.LabelFor(i => i.CollectionId)
                            <select asp-for="CollectionId">
                                <option value="" selected disabled>Dòng sản phẩm</option>
                                @foreach (var item in Model.Collections) {
                                    <option value=@item.Id>@item.Name</option>
                                }
                            </select>
                            @Html.ValidationMessageFor(i => i.CollectionId, "", new { @class = "input-error" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-group">
                            @Html.LabelFor(i => i.Price)
                            @Html.TextBoxFor(i => i.Price, new { placeholder = "Giá bán" })
                            @Html.ValidationMessageFor(i => i.Price, "", new { @class = "input-error" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-group">
                            @Html.LabelFor(i => i.Description)
                            <div id="editor"></div>
                            @Html.TextAreaFor(i => i.Description, new { cols = "30", rows = "10", style = "resize: none;" })
                            @Html.ValidationMessageFor(i => i.Description, "", new { @class = "input-error" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-column">
                <div>
                    <h5>Thông tin phân loại</h5>
                    <hr class="divider top">
                    <div class="variant-list" id="variantContainer">
                        @for (int i= 0; i < Model.Variants.Count; i++) {
                            <div class="variant-item old">
                                <button class="delete-variant-btn" type="button"><i class="fa-solid fa-xmark"></i></button>
                                <div class="form-row">
                                    <div class="input-group">
                                        <label>Mã sản phẩm</label>
                                        <input readonly type="text" asp-for="@Model.Variants[i].ProductCode">
                                        <span class="input-error"></span>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="input-group--color">
                                        <label>Màu sắc</label>
                                        <div>
                                            <div class="color-picker-wrapper" style="background-color: #@Model.Variants[i].HexCode"><input class="color-picker" type="color" asp-for="@Model.Variants[i].HexCode" value="#@Model.Variants[i].HexCode"></div>
                                            <input type="text" asp-for="@Model.Variants[i].ColorName" placeholder="Name this color">
                                        </div>
                                        <span class="input-error"></span>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="input-group">
                                        <label>Hình ảnh</label>
                                        <div class="image-grid">
                                            @foreach (var image in Model.Variants[i].Images) {
                                                <div class="image-item">
                                                    <div class="overlay"><i class="fa-solid fa-trash-can"></i></div>
                                                    <img src="~/uploads/@image" alt="">
                                                </div>
                                            }
                                            <div class="upload-image-wrapper">
                                                <input asp-for="@Model.Variants[i].FilesUpload" multiple accept="image/*">
                                                <label asp-for="@Model.Variants[i].FilesUpload">
                                                    <i class="fa-regular fa-image"></i>
                                                    <span>Thêm hình ảnh (tối đa 8 ảnh)</span>
                                                </label>
                                            </div>
                                        </div>
                                        <span class="input-error"></span>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="input-group--stock">
                                        <label for="">Kho hàng</label>
                                        <table class="stock-table">
                                            <thead>
                                                <tr>
                                                    <th>Kích cỡ</th>
                                                    <th>Số lượng</th>
                                                    <th>Mã SKU</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int j = 0; j < Model.Variants[i].SKUs.Count; j++) {
                                                    <tr>
                                                        <td>@Model.Variants[i].SKUs[j].SizeName</td>
                                                        <td><input type="text" asp-for="@Model.Variants[i].SKUs[j].InStock" placeholder="Số lượng"></td>
                                                        <td><input type="text" asp-for="@Model.Variants[i].SKUs[j].Code" readonly></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <span class="input-error"></span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <button id="add-variant-btn" type="button"><i class="fa-solid fa-plus"></i> Add Product Variant</button>
                </div>
                <div class="form-button-group">
                    <a asp-controller="Product" asp-action="Index" asp-area="Admin" id="discardBtn">Huỷ</a>
                    <button id="submitBtn" type="submit">Cập nhật</button>
                </div>
            </div>
        </div>
    </form>
</div>
