@using AnanasMVCWebApp.Models.ViewModels
@model CheckoutViewModel
@{
    ViewData["Title"] = "Checkout";
}

@using (Html.BeginForm("Index", "Checkout", FormMethod.Post)) {
    <div class="checkout-wrapper wide">
        <div class="checkout-info-wrapper">
            <div class="checkout-info__item-container">
                <div class="checkout-info-header">
                    <i class="fa-solid fa-address-book"></i>
                    <h6>Thông tin giao hàng</h6>
                </div>
                <div class="checkout-info-body">
                    <div class="form-row">
                        <div class="input-group">
                            @Html.LabelFor(i => i.FullName)
                            @Html.TextBoxFor(i => i.FullName, new { placeholder = "Họ tên" })
                            @Html.ValidationMessageFor(i => i.FullName, "", new { @class = "input-error" })
                        </div>
                    </div>
                    <div class="form-row multiple">
                        <div class="input-group">
                            @Html.LabelFor(i => i.Phone)
                            @Html.TextBoxFor(i => i.Phone, new { placeholder = "Số điện thoại" })
                            @Html.ValidationMessageFor(i => i.Phone, "", new { @class = "input-error" })
                        </div>
                        <div class="input-group">
                            @Html.LabelFor(i => i.Email)
                            @Html.TextBoxFor(i => i.Email, new { placeholder = "Email" })
                            @Html.ValidationMessageFor(i => i.Email, "", new { @class = "input-error" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-group">
                            @Html.LabelFor(i => i.Adress)
                            @Html.TextBoxFor(i => i.Adress, new { placeholder = "Địa chỉ" })
                            @Html.ValidationMessageFor(i => i.Adress, "", new { @class = "input-error" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-group">
                            @Html.LabelFor(i => i.Province)
                            <select asp-for="@Model.Province">
                                <option value="" selected disabled>Tỉnh/Thành phố</option>
                            </select>
                            @Html.ValidationMessageFor(i => i.Province, "", new { @class = "input-error" })
                            @Html.HiddenFor(i => i.ProvinceName)
                        </div>
                    </div>
                    <div class="form-row multiple">
                        <div class="input-group">
                            @Html.LabelFor(i => i.District)
                            <select asp-for="@Model.District">
                                <option value="" selected disabled>Quận/Huyện</option>
                            </select>
                            @Html.ValidationMessageFor(i => i.District, "", new { @class = "input-error" })
                            @Html.HiddenFor(i => i.DistrictName)
                        </div>
                        <div class="input-group">
                            @Html.LabelFor(i => i.Ward)
                            <select asp-for="@Model.Ward">
                                <option value="" selected disabled>Phường/Xã</option>
                            </select>
                            @Html.ValidationMessageFor(i => i.Ward, "", new { @class = "input-error" })
                            @Html.HiddenFor(i => i.WardName)
                        </div>
                    </div>
                </div>
            </div>
            <div class="checkout-info__item-container">
                <div class="checkout-info-header">
                    <i class="fa-solid fa-truck"></i>
                    <h6>Phương thức giao hàng</h6>
                </div>
                <div class="checkout-info-body">
                    @foreach (var item in Model.ShippingMethods) {
                        <label for="@item.Slug" class="radio-container @(item.Id == Model.ShippingMethod ? "checked" : "")">
                            <div>
                                <div>
                                    <p class="label-title">@item.Name</p>
                                    <p class="label-subtitle">@item.Description</p>
                                </div>
                                <div>
                                    <span class="label-price">20.000 VND</span>
                                    <span class="checkmark"><i class="fa-solid fa-circle-check"></i></span>
                                </div>
                            </div>
                            <input type="radio" asp-for="@Model.ShippingMethod" id="@item.Slug" value="@item.Id">
                        </label>
                    }
                    <span asp-validation-for="@Model.ShippingMethod" style="color: var(--primary); margin-top: 10px; line-height: 20px; display: inline-block;"></span>
                </div>

            </div>
            <div class="checkout-info__item-container">
                <div class="checkout-info-header">
                    <i class="fa-solid fa-credit-card"></i>
                    <h6>Phương thức thanh toán</h6>
                </div>
                <div class="checkout-info-body">
                    @foreach (var item in Model.PaymentMethods) {
                        <label for="@item.Slug" class="radio-container @(item.Id == Model.PaymentMethod ? "checked" : "")">
                            <div>
                                <div>
                                    <p class="label-title">@item.Name</p>
                                    <p class="label-subtitle">@item.Description</p>
                                </div>
                                <div>
                                    <span class="checkmark"><i class="fa-solid fa-circle-check"></i></span>
                                </div>
                            </div>
                            <input type="radio" asp-for="@Model.PaymentMethod" id="@item.Slug" value="@item.Id">
                        </label>
                    }
                    <span asp-validation-for="@Model.PaymentMethod" style="color: var(--primary); margin-top: 10px; line-height: 20px; display: inline-block;"></span>
                </div>
            </div>
        </div>
        <div class="order-summary-wrapper">
            <div class="order-total__title">
                <i class="fa-solid fa-cube"></i>
                <h6>Order Summary</h6>
            </div>
            <div class="order-summary__list">
                @foreach (var item in Model.CartItems) {
                    <div class="product-row">
                        <img src="~/uploads/@item.ImageName" alt="">
                        <div>
                            <div>
                                <p>@item.ProductName</p>
                                <p>Size: @item.Size | Số lượng: @item.Quantity</p>
                                <p>580.000 VND</p>
                            </div>
                            <div>@Html.FormatValue(@item.Price, "{0:0,0}") VND</div>
                        </div>
                    </div>
                }
            </div>
            <div class="coupon-panel">
                <h5>Nhập mã giảm giá</h5>
                <div>
                    <div>
                        <input type="text" name="" id="" placeholder="Nhập mã khuyến mãi">
                        <button type="button">Áp dụng</button>
                    </div>
                    <div class="coupon-list" id="couponList">
                        <div class="coupon-item">
                            <div>
                                <span>20%</span>
                                <span>Off</span>
                            </div>
                            <div>
                                <span>CGHKBM</span>
                                <span>Giảm 20% Giảm tối đa 100k trên tổng giá trị đơn hàng</span>
                            </div>
                            <div><button type="button">Remove</button></div>
                        </div>
                        <div class="coupon-item">
                            <div>
                                <span>20%</span>
                                <span>Off</span>
                            </div>
                            <div>
                                <span>CGHKBM</span>
                                <span>Giảm 20% Giảm tối đa 100k</span>
                            </div>
                            <div><button type="button">Remove</button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="order-summary__total summary-panel">
                <ul>
                    <li>
                        <span>Đơn hàng</span>
                        <span>2.140.000 VND</span>
                    </li>
                    <li>
                        <span>Giảm</span>
                        <span>0 VND</span>
                    </li>
                    <li>
                        <span>Phí vận chuyển</span>
                        <span>20.000 VND</span>
                    </li>
                </ul>
                <hr class="divider">
                <ul class="total">
                    <li>
                        <span>Tổng cộng</span>
                        <span class="primary-text-color">2.140.000 VND</span>
                    </li>
                </ul>
                <button type="submit">Hoàn tất đặt hàng</button>
            </div>
        </div>
    </div>
}
